RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]

<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/json

<filesMatch "\.(ico|pdf|jpg|jpeg|png|gif|svg|js|css|woff2?)$">
    Header set Cache-Control "max-age=2592000, public"
</filesMatch>
